.hero{position:relative}
.hero-logo-topright{position:absolute;top:40px;right:40px;opacity:.9;pointer-events:none}
.hero-logo-topright img{width:300px;height:auto}

@media (max-width:900px){
.hero-logo-topright{position:static;margin-bottom:20px;text-align:center}
.hero-logo-topright img{width:200px}
}